.bg-light{
    background-color: #24bec6 !important;
}
body{
    background-color: #efefef;
    overflow-x: hidden;
}
.esconder{
    display: none;
}

h1{
    color: white;
    font-size: 50px;
}
h3{
    color: white ;
    
}
 @media(max-width:576px){
   
    h2:first-of-type {
        position: absolute;
        text-align: center;
        color: rgb(63, 64, 65);
        font-size: 30px;
        margin-top: 1px;
        font-weight: 700;
    }
    h1{
        color: white;
        font-size: 30px;
    }
    h1:first-of-type{
        position: relative;
        left: 40%;   
    }
    h1:nth-of-type(2){
        position: relative;
        left: 40%;    
    }
    h1:nth-of-type(3){
        position: relative;
        left: 40%;     
    }
    #palavras{
        position: absolute;
    }
    .nav-link{
        color:white !important;  
        
    }
    
    .nav-link:hover{
        color: #0b949a !important;
    }
    .navbar-brand{
        position: relative;
        left: 0%;
        font-size: 40px;
    }
    .btn{
        display: none;
    }
    #btn.btn{
        background-color: transparent;
        color: #24bec6;
        border: solid 2px #24bec6;
        position: relative;
        left: 0%;
        display: block;
    }
    #btn.btn:hover{
        background-color: #24bec646;
    }
    h4{
        font-size: 20px;
        color: rgb(131, 130, 130);
    }
    .visita{
        position: relative;
        left: 0%;
        font-size: 20px;
        font-weight: 600;
        color: white;
        margin-top: 6%;
        
    }
    .endereco{
        position: relative;
        left: 0%;
        margin-top: 1%;
        color: white;
    }
    .rota{
        background-color: transparent;
        border: solid 2px white;
        color: white;
        position: relative;
        left: 15%;
    }
    .rota:hover{
        background-color: rgba(255, 255, 255, 0.541);
        color:white

    }
    footer div h2{
       display: none;
      
    }
    footer p:nth-of-type(1){
        color: rgb(131, 130, 130) ;
        font-size: 15px ;
        position: relative ;
        left: 0%;
        padding-top: 10%;
        font-weight: 700;
      
        
    } 
   
    h5{
        color: #24bec6;
        position: relative;
        margin-top: 8%;
        margin-bottom: 8%;
        font-size: 15px;
        
    }
    .tel{
        position: relative;
        color:#959191c7 ;
        position: relative;
        margin-top: 1%;
        font-size: 13px;
       
    }
    
    .dados{
        background-color: white;
        width: 36.1%;
        position: relative;
    }  
    .copy{
        display: none;
    }
    
}
@media (min-width: 577px) and (max-width:767px){
    h2:first-of-type {
        position: absolute;
        text-align: center;
        color: rgb(63, 64, 65);
        font-size: 35px;
        margin-top: 1px;
    }
    h1{
        color: white;
        font-size: 35px;
    }
    h1:first-of-type{
        position: relative;
        left: 65%;    
    }
    h1:nth-of-type(2){
        position: relative;
        left: 65%; 
    }
    h1:nth-of-type(3){
        position: relative;
        left: 65%;
    }
    #palavras{
        position: absolute;
    }
    .btn{
        display: none;
    }
    .nav-link{
        color:white !important;  
        
    }
    
    .nav-link:hover{
        color: #0b949a !important;
    }
    .navbar-brand{
        position: relative;
        left: 20%;
        font-size: 50px;
    }
    h5{
        color: #24bec6;
        position: relative;
        margin-top: 8%;
        margin-bottom: 8%;
        font-size: 16px;
        
    }
    .tel{
        position: relative;
        color:#959191c7 ;
        position: relative;
        margin-top: 1%;
        font-size: 15px;
       
    }
    
    .dados{
        background-color: white;
        width: 78.5%;
        margin-top: -6%;
        position: relative;
    }
    h3{
        position: relative;
        margin-top: 8%;
        margin-bottom: 8%;
        font-size: 25px;
        color: white;
        
    }
    #time{
        position: relative;
        margin-top: 4%;
    }
    
    #btn.btn{
        background-color: transparent;
        color: #24bec6;
        border: solid 2px #24bec6;
        position: relative;
        left: 0%;
        display: block;
    }
    #btn.btn:hover{
        background-color: #24bec646;
    }
    h4{
        font-size: 20px;
        color: rgb(131, 130, 130);
    }
    .visita{
        position: static;
        left: 0%;
        font-size: 25px;
        font-weight: 600;
        color: white;
        padding-top: 25%;
        
    }
    .endereco{
        position: relative;
        left:0%;
        margin-top: 10%;
        color: white;
    }
    .rota{
        background-color: transparent;
        border: solid 2px white;
        color: white;
        position: relative;
        left: 15%;
    }
    .rota:hover{
        background-color: rgba(255, 255, 255, 0.541);
        color:white

    }
    footer div h2{
       display: none;
    }
    
    footer p:nth-of-type(1){
        color: rgb(131, 130, 130) !important;
        font-size: 15px !important;
        position: relative !important;
        left: 0%;
        padding-top: 10%;
        font-weight: 700;
      
        
    } 
    hr{
        border: solid 0.5px;
        color: rgba(131, 130, 130, 0.561) ;
    }
    .copy{
        display: none;
        color:  rgb(131, 130, 130) ;
    }  
    
}
@media(min-width:768px) and (max-width:991px ){
    h2:first-of-type {
        position: absolute;
        text-align: center;
        color: rgb(63, 64, 65);
        top: 0;
        font-size: 40px;
        
    }
    h1{
        color: white;
        font-size: 40px;
    }
    h1:first-of-type{
        position: absolute;
        left: 20%;
        top: 25%;
    }
    h1:nth-of-type(2){
        position: absolute;
        left: 20%;
        top: 30%;
    }
    h1:nth-of-type(3){
        position: absolute;
        left: 20%;
        top: 35%;
    }
    .alinhar-centro{
        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .alinhar-direita{
        position: absolute;
        right: 10%;
     
    }
    .navbar-brand{
        position: relative;
        left: 10%;
        font-size: 50px;
    }
    .nav-link{
        color:white !important;  
        
    }
    
    .nav-link:hover{
        color: #0b949a !important;
    }
    p{
        position: relative;
        padding-top: 20%;
    }
    .btn{
        background-color: transparent;
        position: absolute;
        left: 20%;
        top: 35%;
        margin-top: 2%;
        color: #fbe5ad;
        font-weight: 500;
        border: #fbe5ad solid 2px;
        border-radius: 0;
        display: none;
    }
    .btn:hover{
        color: #fbe5ad;
        background-color: rgba(251, 229, 173, 0.40);
    }
    h5{
        color: #24bec6;
        position: relative;
        font-size: 16px;
        
    }
    .tel{
        position: relative;
        color:#959191c7 ;
        position: relative;
        font-size: 15px;
        margin-top: -20%;
       
    }
    
    .dados{
        background-color: white;
        width: 58%;
        position: relative;
        margin-top: -5%;
    }
    h3{
        position: relative;
        margin-top: 8%;
        margin-bottom: 8%;
        font-size: 25px;
        color: white;
        
    }
    #time{
        position: relative;
        margin-top: 4%;
    }
    
    #btn.btn{
        background-color: transparent;
        color: #24bec6;
        border: solid 2px #24bec6;
        position: relative;
        left: 0%;
        display: block;
    }
    #btn.btn:hover{
        background-color: #24bec646;
    }
    h4{
        font-size: 30px;
        color: rgb(131, 130, 130);
    }
    .visita{
        position: relative;
        left: 0%;
        font-size: 30px;
        font-weight: 600;
        color: white;
        margin-top: 15%;
        
    }
    .endereco{
        position: relative;
        left:0%;
        margin-top: -15%;
        color: white;
    }
    .rota{
        background-color: transparent;
        border: solid 2px white;
        color: white;
        position: relative;
        left: 15%;
    }
    .rota:hover{
        background-color: rgba(255, 255, 255, 0.541);
        color:white

    }
     footer div h2{
       display: none;
    }
    footer div p:first-of-type{
        color: rgb(131, 130, 130) !important;
        font-size: 15px !important;
        position: relative ;
        left: 0%;
        font-weight: 700;
        padding-top: 10%;
        
        
    }
    
    hr{
        border: solid 0.5px;
        color: rgba(131, 130, 130, 0.561) ;
    }
    .copy{
        display: none;
    }  
}
@media (min-width: 992px) and (max-width: 1199px){
    h1:first-of-type{
        position: absolute;
        left: 20%;
        top: 25%;
    }
    h1:nth-of-type(2){
        position: absolute;
        left: 20%; 
        top: 30%;
    }
    h1:nth-of-type(3){
        position: absolute;
        left: 20%;
        top: 35%;
    }
    .alinhar-centro{
        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .alinhar-direita{
        position: absolute;
        right: 10%;
     
    }
    .navbar-brand{
        position: relative;
        left: 10%;
        font-size: 50px;
    }
    .nav-link{
        color:white !important;  
        
    }
    
    .nav-link:hover{
        color: #0b949a !important;
    }
    .btn{
        background-color: transparent;
        position: absolute;
        left: 20%;
        top: 40%;
        margin-top: 2%;
        color: #fbe5ad;
        font-weight: 500;
        border: #fbe5ad solid 2px;
        border-radius: 0;
        display: block;
    }
    .btn:hover{
        color: #fbe5ad;
        background-color: rgba(251, 229, 173, 0.40);
    }
    #btn.btn{
        background-color: transparent;
        color: #24bec6;
        border: solid 2px #24bec6;
        position: relative;
        left: 0%;
    }
    #btn.btn:hover{
        background-color: #24bec646;
    }
    h4{
        font-size: 35px;
        color: rgb(131, 130, 130);
    }
    .visita{
        position: relative;
        left: 7%;
        font-size: 30px;
        font-weight: 600;
        color: white;
        margin-top: 5%;
        width: 80%;
    }
    .endereco{
        position: relative;
        left: 7%;
        margin-top: 5%;
        color: white;
    }
    .rota{
        background-color: transparent;
        border: solid 2px white;
        color: white;
        position: relative;
        left: 7%;
        margin-bottom: 10%;
    }
    .rota:hover{
        background-color: rgba(255, 255, 255, 0.541);
        color:white

    }
    footer div h2{
        color: rgb(131, 130, 130) ;
        font-size: 50px ;
        position: relative ;
        display: block;
        margin-top: 5% ;
      
    }
    footer div p:first-of-type{
        color: rgb(131, 130, 130) ;
        font-size: 15px ;
        position: relative ;
        left: 0% ;
        margin-top: 6%;
        font-weight: 700;
        
    }
    hr{
        border: solid 0.5px;
        color: rgba(131, 130, 130, 0.561) ;
    }
    .copy{
        position: absolute !important;
        left: 50% !important;
        margin-top: 0% !important;
        transform: translateX(-50%);
        color:  rgb(131, 130, 130) ;
        
    }  
    h5{
        color: #24bec6;
        position: relative;
        font-size: 20px;
        
    }
    .tel{
        position: relative;
        color:#959191c7 ;
        position: relative;
        font-size: 20px;
       
    }
    
    .dados{
        background-color: white;
        width: 43%;
        margin-top: -5%;
        position: relative;
    }
    #time{
        padding-bottom: 5%;
    }
}
@media (min-width: 1200px){
    h1:first-of-type{
        position: absolute;
        left: 20%;   
        top: 25%; 
    }
    h1:nth-of-type(2){
        position: absolute;
        left: 20%; 
        top: 30%;
    }
    h1:nth-of-type(3){
        position: absolute;
        left: 20%;
        top: 35%;
    }
    h5{
        color: #24bec6 !important;
        position: relative;
        font-size: 20px;
        padding-top: -110%;
        
    }
    .tel{
        position: relative;
        color:#959191c7 ;
        position: relative;
        margin-top: 0%;
        font-size: 20px;
       
    }
    
    .dados{
        background-color: white;
        width: 30%;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        width: 36%;
        top: 80%;
    }
    h3{
        position: relative;
        margin-top: 8%;
        margin-bottom: 8%;
        font-size: 35px;
        color: white;
        
    }
  
    .btn{
        background-color: transparent;
        position: absolute;
        left: 20%;
        top: 40%;
        margin-top: 2%;
        color: #fbe5ad;
        font-weight: 500;
        border: #fbe5ad solid 2px;
        border-radius: 0;
        display: block;
    }
    .btn:hover{
        color: #fbe5ad;
        background-color: rgba(251, 229, 173, 0.40);
    }
    #btn.btn{
        background-color: transparent;
        color: #24bec6;
        border: solid 2px #24bec6;
        position: relative;
        left: 0%;
    }
    #btn.btn:hover{
        background-color: #24bec646;
    }
    h4{
        font-size: 40px;
        color: rgb(131, 130, 130);
    }
    .visita{
        position: relative;
        left: 15%;
        font-size: 30px;
        font-weight: 600;
        color: white;
        margin-top: 5%;
        width: 55%;
    }
    .endereco{
        position: relative;
        left: 15%;
        margin-top: 2%;
        color: white;
    }
    .rota{
        background-color: transparent;
        border: solid 2px white;
        color: white;
        position: relative;
        left: 15%;
    }
    .rota:hover{
        background-color: rgba(255, 255, 255, 0.541);
        color:white

    }
    footer div h2{
        color: rgb(131, 130, 130) !important;
        font-size: 50px !important;
        position: static !important;   
        margin-top: 5% !important;
    }
    footer div p:first-of-type{
        color: rgb(131, 130, 130) !important;
        font-size: 15px !important;
        position: relative !important;
        font-weight: 700;
        
    }
  
    hr{
        border: solid 0.5px;
        color: rgba(131, 130, 130, 0.561) ;
    }
   .copy{
        position: absolute !important;
        left: 50% !important;
        transform: translateX(-50%);
        color:  rgb(131, 130, 130) ;
        
    }
    #time{
        padding-bottom: 2%;
    } 
    .alinhar-centro{
        
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .alinhar-direita{
        position: absolute;
        right: 20%;
     
    }
    .navbar-brand{
        position: relative;
        left: 20%;
        font-size: 50px;
    }
    .nav-link{
        color:white !important;  
        
    }
    
    .nav-link:hover{
        color: #0b949a !important;
    }
    
}



